.col.w-xxxl.b-l
  .wrapper-lg
    .approval-item-aside
      .approval-item-aside-header
        = link_to 'Close', asset_approvals_path
      .approval-item-aside-body
        %h4= @approval.title
        %p= @approval.description