%section#case-studies
  .row
    .col-sm-10.col-sm-offset-1
      %h2 Case Studies
      %p
        Thelius has completed over $200MM worth of transactions. We have proven track record of investing capital and implementing an active management strategy that has substantially increased asset value and cash flow for our clients and investors. Below is a list of case studies that highlight our core capabilities and investment strategy.
      .portfolio-grid
        .row
          .col-md-12.col-lg-6
            #project-martini.portfolio-item
              =link_to "#", data: {target: "#project-martini-modal", toggle: "modal"} do
                %h3 Project Martini
                %p (New York, NY) Project Martini is an opportunistic redevelopment of a dilapidated church building lo...
              #project-martini-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-martini-model-label", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} ×
                    .modal-body
                      .modal-team-description
                        .description-mobile
                          .overview
                            %h2 Project Martini
                            %p New York, NY
                            %h5 Overview
                            %p Project Martini is an opportunistic redevelopment of a dilapidated church building located across from Penn Station into a Class A retail building.
                            %p The Sellers were seeking an off-market development partner to ground lease the land and bear the cost and risks to complete an up-zoning that doubled the rentable square footage as well as construct a new building.
                            %p Few bidders were able to meet the Seller’s demands due to the perceived risks in up-zoning the property and the requirement to pay the ground rent as if the up-zoning was successful. Additionally, bidders did not know how to redevelop the existing building if an up-zoning was not achieved.
                          .case-study-results
                            %h5 Results
                            %p 100% of the acquisition, future construction costs, and ground lease payments were funded through a revolving credit line. ​
                            %p In 2016, the asset was recapitalized with a new joint venture partner at a $48MM valuation prior to construction, resulting in an enormous economic win for all stakeholders.
                            %p The ​new retail building is currently under construction with a scheduled delivery in 2018.
                        %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Martini.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
          / .col-md-12.col-lg-6
          /   #project-voron.portfolio-item
          /     =link_to "#", data: {target: "#project-voron-modal", toggle: "modal"} do
          /       %h3 Project Voron
          /       %p (New York, NY) Project Martini is an opportunistic redevelopment of a dilapidated church building lo...
          /     #project-voron-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-voron-model-label", :role => "dialog", :tabindex => "-1"}
          /       .modal-dialog{:role => "document"}
          /         .modal-content
          /           .modal-header
          /             %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          /               %span{"aria-hidden" => "true"} ×
          /           .modal-body
          /             .modal-team-description
          /               .description-mobile
          /                 .overview
          /                   %h2 Project Voron
          /                   %p New York, NY
          /                   %h5 Overview
          /                   %p Project Voron is an opportunistic redevelopment of an underutilized nonprofit building into a Class A mixed-use apartment building comprising ~350 units and 20,000 SF of commercial space.
          /                   %p The nonprofit  was seeking to leverage its real estate to generate new cash flow to support its nonprofit mission as well as building a new headquarters.
          /                   %p Thelius identified the off-market opportunity through a direct relationship with the NFP and developed the strategy to unlock the asset’s value by: (i) removing the landmark calendar status (allowing for the building to be redeveloped) and (ii) acquiring air rights from the adjoining building, which is landmarked, and (iii) redeveloping the building.
          /                 .case-study-results
          /                   %h5 Results
          /                   %p In 2016, the landmark calendar status was removed from the property through the monumental effort of Thelius and the entire team.
          /                   %p The net impact of removing the calendar status was an immediate doubling in the asset’s value by increasing the existing development site from 75K SF to 150K SF and unlocking the potential to further increase the FAR by acquiring 138K SF of unused development right from the adjoining landlord.
          /                   %p The removal of landmarks also decreased the operating burden of the existing building, saving ownership substantial cash flow by lowering the cost to maintain the building.
          /               %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Voron.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
          .col-md-12.col-lg-6
            #project-nehemiah.portfolio-item
              =link_to "#", data: {target: "#project-nehemiah-modal", toggle: "modal"} do
                %h3 Project Nehemiah
                %p (Bronx, NY) From the 70’s through the early 90’s, the South Bronx was marred by prostitutes, gan...
              #project-nehemiah-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-nehemiah-model-label", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} ×
                    .modal-body
                      .modal-team-description
                        .description-mobile
                          .overview
                            %h2 Project Nehemiah
                            %p Bronx, NY
                            %h5 Overview
                            %p From the 70’s through the early 90’s, the South Bronx was marred by prostitutes, gang members, drug dealers and abandoned buildings. It was the proverbial “Urban Disaster;” even NYC reduced public services to the area to avoid crime and exposure.
                            %p The South Bronx Churches (a not-for-profit alliance of neighborhood congregations) and New York City EDP forged a partnership to revitalize the blighted community by offering a 20 acre in-fill site with empty lots for RFP.
                            %p The partnership's mission was to provide 966 affordable homes for families earning between $25,000 and $30,000 per year and allow for the Mott Haven district of the South Bronx to grow.
                          .case-study-results
                            %h5 Results
                            %p From 1998 to 2006, 966 affordable homes were constructed on-time and inside budget, resulting in one of the most successful affordable housing projects in New York City.
                            %p A South Bronx community was rebuilt and revitalized. An NYPD officer mentioned, “Since the homes have been built, crime has decreased dramatically. Garbage that filled empty lots has disappeared. Abandoned buildings once occupied by drug gangs have been replaced with beautiful homes occupied by hard working citizens.“
                            %p The Nehemiah Project delivered the lowest cost homeownership using the least amount of subsidies available by initiating a new type of strategy between the public sector, private sector, and social sector.
                        %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Nehemiah.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
          .col-md-12.col-lg-6
            #project-dragon-eye.portfolio-item
              =link_to "#", data: {target: "#project-dragon-eye-modal", toggle: "modal"} do
                %h3 Project Dragon Eye
                %p (Hong Kong, China) The property was a distressed office building located in the heart of Causeway Ba...
              #project-dragon-eye-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-dragon-eye-model-label", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} ×
                    .modal-body
                      .modal-team-description
                        .description-mobile
                          .overview
                            %h2 Project Dragon Eye
                            %p Hong Kong, China
                            %h5 Overview
                            %p The property was a distressed office building located in the heart of Causeway Bay, a premier retail hub of Hong Kong.
                            %p The initial owner went bankrupt, and the property was left unused for 8 years after going through multiple changes in ownership and usage.  Initially built as an office, the building was converted to a hotel and again to a retail and Karaoke bar.  The latest plan for a Taiwanese-style karaoke bar was abandoned due to high barriers to entry.
                            %p The property was sold as “shell and core” without occupancy permit through a public tender during the height of the SARS crisis in Hong Kong.
                          .case-study-results
                            %h5 Results
                            %p The property was stabilized at 90% average occupancy and generated 11% NOI yield.  It is recognized as a top-tier serviced-apartments / boutique hotel in Causeway Bay today.
                            %p At disposition in 2008, the Buyer achieved approximately 40% IRR and 5x on its equity invested.
                            %p Jin Eu, a managing partner at Thelius Capital, represented the Buyer as the lead acquisition officer on the transaction.
                        %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Dragon+Eye.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
          .col-md-12.col-lg-6
            #project-copper.portfolio-item
              =link_to "#", data: {target: "#project-copper-modal", toggle: "modal"} do
                %h3 Project Copper
                %p (Seoul, SK) Poorly-managed, Class B building located in Seoul CBD near US Embassy and Chongro-Ku Dis...
              #project-copper-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-copper-model-label", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} ×
                    .modal-body
                      .modal-team-description
                        .description-mobile
                          .overview
                            %h2 Project Copper
                            %p Seoul, SK
                            %h5 Overview
                            %p Poorly-managed, Class B building located in Seoul CBD near US Embassy and Chongro-Ku District Office.  For nearly 20 years, the property never had institutional asset managers or professional leasing agents.  The Seller never made significant capital improvements or any real effort to maximize rents and cash flow.
                            %p The building was occupied by non-institutional, non-credit small tenants on short-term Chonsei-basis, an archaic type of lease that includes a large deposit upfront and little to no monthly rents.
                            %p The Seller wanted to sell the asset to consolidate its balance sheet, but investor demand was limited due to its poor building appearance and low quality of tenants.
                          .case-study-results
                            %h5 Results
                            %p Operating income increased by 110% and net rentable space increased by 5,000 SF.  80% of the existing tenants were replaced with higher-quality tenants.  Significant improvement in retail, including one of the first Starbucks cafe in Korea.
                            %p At disposition in 2006, the Buyer achieved approximately 70% IRR and 5x on its equity invested.
                            %p Jin Eu, a managing partner at Thelius Capital, represented the Buyer as its country head responsible for acquisition and asset management.
                        %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Copper.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
          .col-md-12.col-lg-6
            #project-irvington.portfolio-item
              =link_to "#", data: {target: "#project-irvington-modal", toggle: "modal"} do
                %h3 Project Irvington
                %p (Irvington, NY) Project Irvington was an off-market acquisition of 69 undeveloped residential lots u...
              #project-irvington-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-irvington-model-label", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} ×
                    .modal-body
                      .modal-team-description
                        .description-mobile
                          .overview
                            %h2 Project Irvington
                            %p Irvington, NY
                            %h5 Overview
                            %p Project Irvington was an off-market acquisition of 69 undeveloped residential lots located in Irvington, NY.
                            %p The original developer completed 95% of the roads and site work, but defaulted on its loan due to slow sales and budget overruns. The development was also challenged due to poor marketing and overall design of the homes.
                            %p The Lenders took over the property and attempted to market the asset for sale, but were unable to attract an outright buyer.
                          .case-study-results
                            %h5 Results
                            %p Within 36 months of closing, the entire development was completed and all homes were sold.
                            %p The development was a resounding success, resulting a $9.1M gain.
                        %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Irvington.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}