%section#our-capabilities
  .row
    .col-sm-10.col-sm-offset-1
      %h2 Our Capabilities
      %p
        Thelius is a fully-integrated real estate investment management company.  We have in-house capabilities to plan and execute all phases of a complex real estate investment, including a ground-up development. We are uniquely positioned to deliver capital solutions to nonprofit institutions to support their missions, while providing attractive risk-adjusted investment opportunities for our investors.
      #core-capabilities-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #acquisition.panel-heading{:role => "tab"}
            %h4.panel-title
              %a{"aria-controls" => "acquisitionCollapse", "aria-expanded" => "true", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#acquisitionCollapse", :role => "button"}
                Acquisition
          #acquisitionCollapse.panel-collapse.collapse{"aria-labelledby" => "acquisition", :role => "tabpanel"}
            .panel-body
              Thelius seeks to acquire commercial real estate assets in the Northeast United States to generate exceptional risk-adjusted returns for our investors. We have secured significant capital through qualified institutional and private wealth investors as well as close lending relationships. Our executive team has acquired over $7BN of real estate assets globally.
        .panel.panel-default
          #developmentConstruction.panel-heading{:role => "tab"}
            %h4.panel-title
              %a.collapsed{"aria-controls" => "developmentcollapseTwo", "aria-expanded" => "false", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#developmentcollapseTwo", :role => "button"}
                Development & Construction
          #developmentcollapseTwo.panel-collapse.collapse{"aria-labelledby" => "developmentConstruction", :role => "tabpanel"}
            .panel-body
              Thelius has in-house capabilities to plan and manage all phases of complex repositioning or development projects. This enables us to execute challenging, multi-faceted projects with exceptional efficiency. Our executive team has completed over 10MM SF of ground-up projects and over 3MM SF of commercial building repositionings globally.
        .panel.panel-default
          #assetManagement.panel-heading{:role => "tab"}
            %h4.panel-title
              %a.collapsed{"aria-controls" => "assetManagementcollapseThree", "aria-expanded" => "false", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#assetManagementcollapseThree", :role => "button"}
                Asset Management
          #assetManagementcollapseThree.panel-collapse.collapse{"aria-labelledby" => "assetManagement", :role => "tabpanel"}
            .panel-body
              Thelius manages all investments in-house. We implement the best industry practices in all phases of asset management and deliver impeccable oversight and reporting to our investors. Our executive team managed over 8MM SF of commercial assets globally.
        .panel.panel-default
          #advisory.panel-heading{:role => "tab"}
            %h4.panel-title
              %a{"aria-controls" => "advisoryCollapse", "aria-expanded" => "true", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#advisoryCollapse", :role => "button"}
                Advisory
          #advisoryCollapse.panel-collapse.collapse{"aria-labelledby" => "advisory", :role => "tabpanel"}
            .panel-body
              Thelius provides strategic planning and capital-raising advisory services to clients with an aim of potentially serving as an investment partner. We provide a strategic business plan, which guides our clients to understand their options to maximize potential value of their assets. Our executive team has completed over $3BN of real estate advisory transactions globally.
        .panel.panel-default
          #nonprofit.panel-heading{:role => "tab"}
            %h4.panel-title
              %a.collapsed{"aria-controls" => "nonprofitCollapse", "aria-expanded" => "false", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#nonprofitCollapse", :role => "button"}
                Nonprofit
          #nonprofitCollapse.panel-collapse.collapse{"aria-labelledby" => "nonprofit", :role => "tabpanel"}
            .panel-body
              Thelius works closely with nonprofits to maximize their real estate value as a means to secure resources to sustain their missions. We have a keen insight into their unique process and a strong track record of delivering substantial results. Our executive team is proud to have served over 20 religious and academic institutions in the New York area.
        .panel.panel-default
          #crossborder.panel-heading{:role => "tab"}
            %h4.panel-title
              %a.collapsed{"aria-controls" => "crossborderCollapse", "aria-expanded" => "false", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#crossborderCollapse", :role => "button"}
                Cross Border
          #crossborderCollapse.panel-collapse.collapse{"aria-labelledby" => "crossborder", :role => "tabpanel"}
            .panel-body
              Thelius has long-standing relationships with investors, clients and partners in Asia Pacific. This gives us access to the fast-growing source of capital seeking for exposure in US real estate as well as alternative investing opportunities for our US investors. Our executive team has significant experience in investing and advisory in the region during the past 20 years.