%section#who-we-are
  .row
    .col-sm-10.col-sm-offset-1
      %h2 Who We Are
      %p
        Thelius is a privately-held real estate company that specializes in unlocking value in underutilized real estate. We focus on relationship-driven opportunities where we can improve cash flow and asset value by investing capital, providing strategic advice, repositioning existing buildings, or developing underutilized land. We operate in markets where we have deep roots and are are able to leverage our extensive network to generate off-market deal flow. We have a proven track record of generating exceptional results for our clients, investors, and partners, with whom we maintain trusted, long-term relationships. Our executive team brings more than three decades of work experience  at top-tier private equity, asset management, and development companies.

      %p
        Thelius was founded in 2015 and has since completed over $200MM in value-add transactions. We are currently repositioning 1.5MM SF of commercial real estate assets in Manhattan as well as the New York Tri-state area.