.row
  .col-sm-12
    %section#who-we-are
      .row
        .col-sm-10.col-sm-offset-1
          %h2 Who We Are
          %p
            Thelius is a privately-held real estate company that specializes in unlocking value in underutilized real estate. We focus on relationship-driven opportunities where we can improve cash flow and asset value by investing capital, providing strategic advice, repositioning existing buildings, or developing underutilized land. We operate in markets where we have deep roots and are are able to leverage our extensive network to generate off-market deal flow. We have a proven track record of generating exceptional results for our clients, investors, and partners, with whom we maintain trusted, long-term relationships. Our executive team brings more than three decades of work experience  at top-tier private equity, asset management, and development companies.

          %p
            Thelius was founded in 2015 and has since completed over $200MM in value-add transactions. We are currently repositioning 1.5MM SF of commercial real estate assets in Manhattan as well as the New York Tri-state area.
    %section#core-values
      .row
        .col-sm-10.col-sm-offset-1
          %h2 Core Values
          %p
            Our core values define us and our work. We incorporate these values in our day-to-day to differentiate our brand and achieve the best results.
          #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
            .panel.panel-default
              #headingOne.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
                    Ownership
              #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                .panel-body
                  We own every decision we make. This means holding ourselves accountable for not only the short-term results, but also the long-term impact on growth, sustainability, and community.
            .panel.panel-default
              #headingTwo.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
                    Excellence
              #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
                .panel-body
                  We aim for excellence in all aspects of our work. Whether we’re analyzing a cash flow, advising a nonprofit or executing a technical development plan, we set the highest personal and professional standards.
            .panel.panel-default
              #headingThree.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
                    Creativity
              #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
                .panel-body
                  We push to break through convention. Creativity is founded on extreme effort, persistence and forward-thinking. This process allows us to unlock unseen potential.
            .panel.panel-default
              #headingFour.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", :role => "button"}
                    Trust
              #collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingFour", :role => "tabpanel"}
                .panel-body
                  We build our business on relationships. We safeguard our trusted network of investors, clients, partners, consultants and employees to secure the most attractive opportunities and deliver the best results.
    %section#our-capabilities
      .row
        .col-sm-10.col-sm-offset-1
          %h2 Our Capabilities
          %p
            Thelius is a fully-integrated real estate investment management company.  We have in-house capabilities to plan and execute all phases of a complex real estate investment, including a ground-up development. We are uniquely positioned to deliver capital solutions to nonprofit institutions to support their missions, while providing attractive risk-adjusted investment opportunities for our investors.
          #core-capabilities-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
            .panel.panel-default
              #acquisition.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a{"aria-controls" => "acquisitionCollapse", "aria-expanded" => "true", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#acquisitionCollapse", :role => "button"}
                    Acquisition
              #acquisitionCollapse.panel-collapse.collapse{"aria-labelledby" => "acquisition", :role => "tabpanel"}
                .panel-body
                  We own every decision we make. This means holding ourselves accountable for not only the short-term results, but also the long-term impact on growth, sustainability, and community.
            .panel.panel-default
              #developmentConstruction.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "developmentcollapseTwo", "aria-expanded" => "false", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#developmentcollapseTwo", :role => "button"}
                    Development & Construction
              #developmentcollapseTwo.panel-collapse.collapse{"aria-labelledby" => "developmentConstruction", :role => "tabpanel"}
                .panel-body
                  We aim for excellence in all aspects of our work. Whether we’re analyzing a cash flow, advising a nonprofit or executing a technical development plan, we set the highest personal and professional standards.
            .panel.panel-default
              #assetManagement.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "assetManagementcollapseThree", "aria-expanded" => "false", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#assetManagementcollapseThree", :role => "button"}
                    Asset Management
              #assetManagementcollapseThree.panel-collapse.collapse{"aria-labelledby" => "assetManagement", :role => "tabpanel"}
                .panel-body
                  We push to break through convention. Creativity is founded on extreme effort, persistence and forward-thinking. This process allows us to unlock unseen potential.
            .panel.panel-default
              #advisory.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a{"aria-controls" => "advisoryCollapse", "aria-expanded" => "true", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#advisoryCollapse", :role => "button"}
                    Advisory
              #advisoryCollapse.panel-collapse.collapse{"aria-labelledby" => "advisory", :role => "tabpanel"}
                .panel-body
                  We own every decision we make. This means holding ourselves accountable for not only the short-term results, but also the long-term impact on growth, sustainability, and community.
            .panel.panel-default
              #nonprofit.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "nonprofitCollapse", "aria-expanded" => "false", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#nonprofitCollapse", :role => "button"}
                    Nonprofit
              #nonprofitCollapse.panel-collapse.collapse{"aria-labelledby" => "nonprofit", :role => "tabpanel"}
                .panel-body
                  We aim for excellence in all aspects of our work. Whether we’re analyzing a cash flow, advising a nonprofit or executing a technical development plan, we set the highest personal and professional standards.
            .panel.panel-default
              #crossborder.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "crossborderCollapse", "aria-expanded" => "false", "data-parent" => "#core-capabilities-accordion", "data-toggle" => "collapse", :href => "#crossborderCollapse", :role => "button"}
                    Cross Border
              #crossborderCollapse.panel-collapse.collapse{"aria-labelledby" => "crossborder", :role => "tabpanel"}
                .panel-body
                  We push to break through convention. Creativity is founded on extreme effort, persistence and forward-thinking. This process allows us to unlock unseen potential.
    %section#case-studies
      .row
        .col-sm-10.col-sm-offset-1
          %h2 Case Studies
          %p
            Thelius has completed over $200MM worth of transactions. We have proven track record of investing capital and implementing an active management strategy that has substantially increased asset value and cash flow for our clients and investors. Below is a list of case studies that highlight our core capabilities and investment strategy.
          .portfolio-grid
            .row
              .col-sm-6
                #project-martini.portfolio-item
                  =link_to "#", data: {target: "#project-martini-modal", toggle: "modal"} do
                    %h3 Project Martini
                    %p (New York, NY) Project Martini is an opportunistic redevelopment of a dilapidated church building lo...
                  #project-martini-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-martini-model-label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4#john-lavalley-model-label.modal-title Modal title
                        .modal-body
                          .modal-team-description
                            %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Martini.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
              .col-sm-6
                #project-voron.portfolio-item
                  =link_to "#", data: {target: "#project-voron-modal", toggle: "modal"} do
                    %h3 Project Voron
                    %p (New York, NY) Project Martini is an opportunistic redevelopment of a dilapidated church building lo...
                  #project-voron-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-voron-model-label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4#john-lavalley-model-label.modal-title Modal title
                        .modal-body
                          .modal-team-description
                            %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Voron.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
            .row
              .col-sm-6
                #project-nehemiah.portfolio-item
                  =link_to "#", data: {target: "#project-nehemiah-modal", toggle: "modal"} do
                    %h3 Project Nehemiah
                    %p (New York, NY) Project Martini is an opportunistic redevelopment of a dilapidated church building lo...
                  #project-nehemiah-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-nehemiah-model-label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4#john-lavalley-model-label.modal-title Modal title
                        .modal-body
                          .modal-team-description
                            %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Nehemiah.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
              .col-sm-6
                #project-dragon-eye.portfolio-item
                  =link_to "#", data: {target: "#project-dragon-eye-modal", toggle: "modal"} do
                    %h3 Project Dragon Eye
                    %p (New York, NY) Project Martini is an opportunistic redevelopment of a dilapidated church building lo...
                  #project-dragon-eye-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-dragon-eye-model-label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4#john-lavalley-model-label.modal-title Modal title
                        .modal-body
                          .modal-team-description
                            %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Dragon+Eye.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
            .row
              .col-sm-6
                #project-copper.portfolio-item
                  =link_to "#", data: {target: "#project-copper-modal", toggle: "modal"} do
                    %h3 Project Copper
                    %p (New York, NY) Project Martini is an opportunistic redevelopment of a dilapidated church building lo...
                  #project-copper-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-copper-model-label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4#john-lavalley-model-label.modal-title Modal title
                        .modal-body
                          .modal-team-description
                            %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Copper.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
              .col-sm-6
                #project-irvington.portfolio-item
                  =link_to "#", data: {target: "#project-irvington-modal", toggle: "modal"} do
                    %h3 Project Irvington
                    %p (New York, NY) Project Martini is an opportunistic redevelopment of a dilapidated church building lo...
                  #project-irvington-modal.modal.fade.modal-pdf{"aria-labelledby" => "project-irvington-model-label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4#john-lavalley-model-label.modal-title Modal title
                        .modal-body
                          .modal-team-description
                            %embed{:src => "https://s3.amazonaws.com/eastgate-file-hosting/case-study-pdf/Project+Irvington.pdf",  :width => "100%", :height => "780", :style => "border: none;", :type => "application/pdf"}
    %section#executive-team
      .row
        .col-sm-10.col-sm-offset-1
          %h2 Executive Team
          %p
            Our executive team brings over three decades of experience working for top-tier private equity, asset management, and development companies. We have a proven track record of generating exceptional results to our clients, investors, and partners, with whom we have maintain trusted, long-term relationships. Our executive team is supported by a team of investment associates, asset managers and project managers.
          .team-grid
            .row
              .col-sm-6
                #john-lavalley.portfolio-item
                  =link_to "#", data: {target: "#john-lavalley-modal", toggle: "modal"} do
                    %h3 John LaValley
                    %p Managing Partner
                  #john-lavalley-modal.modal.fade{"aria-labelledby" => "john-lavalley-model-label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4#john-lavalley-model-label.modal-title Modal title
                        .modal-body
                          .modal-team-name
                            %h2 John LaValley
                          .modal-team-role
                            %h5 Managing Partner
                          .modal-team-description
                            %p
                              John is a Founder and Managing Partner of Thelius Capital Partners LLC. Prior to founding Thelius, he founded East Gate, an investment advisor that specialized in repositioning commercial real estate in Manhattan. East Gate completed 3 marquee investments, including the repositioning of a 1 million SF hotel and its operating company. Before founding East Gate, he served as a Portfolio Head and Vice President of Investments at Onyx Equities, a fully-integrated private equity investment company that directly owns over $2BN of real estate. While at Onyx, he was selected as Tomorrow’s Leader in Real Estate by Globest (2013), won Deal of the Year by NAIOP (2014), and led Onyx’s opportunistic redevelopment strategy in New York City and Jersey City. Prior to Onyx, John worked as an acquisitions analyst at Centersquare, a private equity firm with an $8BN AUM. John graduated from the University of Pennsylvania with a BA in Economics. John spends his free time competing in regional rock climbing competitions.

              .col-sm-6
                #jin-eu.portfolio-item
                  =link_to "#", data: {target: "#jin-eu-modal", toggle: "modal"} do
                    %h3 Jin Eu
                    %p Managing Partner
                  #jin-eu-modal.modal.fade{"aria-labelledby" => "jin-eu-model-label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4#jin-eu-model-label.modal-title Modal title
                        .modal-body
                          .modal-team-name
                            %h2 Jin Eu
                          .modal-team-role
                            %h5 Managing Partner
                          .modal-team-description
                            %p
                              Jin is a Founder and Managing Partner of Thelius Capital Partners LLC. Previously, Jin was the Chief Executive Officer of Morgan Stanley Capital Korea, Ltd. and the Korea Country Head for Morgan Stanley Real Estate (MSRE), responsible for acquisition, asset management and advisory. At its peak, MSRE had $100BN under management in 33 countries. Jin was one of the first executive members of Asia Pacific who drove the growth of MSRE as a premier real estate franchise in the region. During his 15 years with Morgan Stanley, Jin was involved in $6BN of principal investments and $10BN of advisory transactions in US, Korea, Hong Kong, China, Singapore and Australia. Prior to Morgan Stanley, Jin worked as an investment banker at Lehman Brothers in New York. Jin graduated from Vassar College with a Bachelor’s degree in History. In his rare time off, Jin plays jazz piano and raises a 2-year old daughter.
            .row
              .col-sm-6
                #joe-d-forgette.portfolio-item
                  =link_to "#", data: {target: "#joseph-forgette-modal", toggle: "modal"} do
                    %h3 Joseph D. Forgette
                    %p Executive Director, Development
                  #joseph-forgette-modal.modal.fade{"aria-labelledby" => "josephe-forgette-model-label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4#josephe-forgette-model-label.modal-title Modal title
                        .modal-body
                          .modal-team-name
                            %h2 Joseph D. Forgette
                          .modal-team-role
                            %h5 Executive Director, Development
                          .modal-team-description
                            %p
                              Joe is an Executive Director of Development. He is primarily responsible for leading Thelius’ development division, which includes sourcing new opportunities, entitlement and approvals, design, engineering, construction management, and developing market rate and affordable housing. Prior to joining Thelius, Joe founded and led several successful development companies over the last three decades, including Cobble Creek Builders, Foresite Development Corp, Greystone Construction, Spectrum Skanska, and Spectrum Group. These companies completed over $500MM worth of commercial development, constructed and sold 1,000 affordable units, built $100MM in custom luxury homes, and $100MM in land subdivisions, all throughout the Northeast. Joe is a private pilot enthusiast and enjoys watching his children excel in sporting activities.
    %section#contact-us
      .row
        .col-sm-10.col-sm-offset-1
          %h2 Contact Us
          .address
            %p Thelius Capital Partners LLC
            %p 590 Madison Ave, 22nd Floor
            %p New York, NY 10022
            %p (646) 665-3522
          .row
            .col-sm-6
              %div{:style => "width: 100%;"}
                #map{:style => "width: 100%; height: 400px;"}
            .col-sm-6
              %form#contactform.contact-us-form
                .row
                  .col-sm-6
                    .form-group
                      %input{:type => "text", :class => "form-control", :placeholder => "First Name", :id => "first_name_input"}
                  .col-sm-6
                    .form-group
                      %input{:type => "text", :class => "form-control", :placeholder => "Last Name"}
                .row
                  .col-sm-6
                    .form-group
                      %input{:type => "text", :class => "form-control", :placeholder => "Email"}
                  .col-sm-6
                    .form-group
                      %input{:type => "text", :class => "form-control", :placeholder => "Phone Number"}
                .row
                  .col-sm-12
                    %input{:type => "submit", :class => "btn btn-info btn-block", :value => "Request Access"}
              .tiny
                Please complete the above form to request access to our pipeline or qualify as an investor. Thelius is currently accepting new investors on a select basis.

























