.row{style: "padding: 20px 0"}
  .col-sm-6
    = image_tag('img_1.png', class: "img-responsive mb")
  .col-sm-6
    %h3{style: 'margin: 0 0 20px 0;'} About Us
    %p
      East Gate focuses on unlocking value in commercial real estate investments.
      The firm's strategic partnership approach has proven track record of increasing investment value through a
      variety of strategies such as financial restructuring, physical repositioning, and management improvements.
      East Gate's approach extends beyond traditional consulting and advisory work by providing a full
      service implementation platform that is directly responsible for achieving its partners goals.
      Our principle focus is to execute business plans that increase cash flow and value for its partners.
