.row{style: "color:black"}
  .col-sm-10.col-sm-offset-1
    .panel
      .panel-body
        %header{style: "border-bottom:4px solid black; padding-bottom: 20px;"}
          = image_tag('logo.png')
        .row{style: "padding: 20px 0 0 0"}
          .col-sm-6
            = image_tag('img_1.png', class: "img-responsive mb")
          .col-sm-6
            %p
              This website is intended solely for the employees of East Gate and its investors and partners.
              All other inquiries should be directed to
              = link_to 'info@eastgate.io', 'mailto: info@eastgate.io'
            %div{style: "border-top:1px dotted #999; border-bottom:1px dotted #999; padding: 15px 0"}
              %p Client Login
              .form-group
                %input{type: 'text', placeholder: "Email address"}
              .form-group
                %input{type: 'password', placeholder: "Password"}
              .actions
                %button.btn.btn-off-blue#log_in_btn Log in
              #placeholder
            .row{style: "padding: 15px 0"}
              .col-sm-6
                .address
                  590 Madison Avenue
                  %br
                  22nd Floor
                  %br
                  New York, NY 10022
              .col-sm-6
                %img{src: "https://maps.googleapis.com/maps/api/staticmap?center=590+madison+avenue,NY&zoom=14&size=200x100&markers=590+madison+avenue,NY&sensor=false", class: "img-responsive mt"}
        %footer
          %p Copyright © 2015 East Gate Real Estate Advisors. All rights reserved.
