.hero-wrapper
	%h1 East Gate is a real estate investment advising agency in New York City
	%p 
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod