%section
  %h4 Applications
.table-wrap
  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th Resume
    %tbody
      - @applications.each do |application|
        %tr
          %td= link_to application.full_name, admin_career_application_path(application)
          %td= application.email
          %td= application.phone
          %td= link_to application.resume_file_name, application.resume.url
