= form_for [:admin, @employment_type] do |f|
  .row
    .col-sm-6
      .form-group
        %label= f.label :title
        = f.text_field :title, class: "form-control"
  .action
    = f.submit 'Save Changes', class: 'btn btn-info btn-lg btn-fixed'
