= render 'shared/breadcrumbs'
/ %section
/   = link_to "Download Entire Content", asset_download_full_path(@asset), class: "btn btn-default", data: { no_turbolink: true }
.panel
  .table-responsive
    %table.table.table-striped.b-light
      %thead
        %tr
          %th Name
          %th Size
          %th Modified
      %tbody.folders
        - @folders.each do |folder|
          %tr
            %td
              = link_to asset_folder_path(@asset, folder) do
                %i.i.i-folder2
                %span
                  = folder.name
            %td
              %span.text-ellipsis -
            %td
              %span.text-ellipsis -
