%header#header.app-header.navbar{:role => "menu"}
  / .navbar-header.bg-dark.lter
  /   %button.pull-right.visible-xs.dk{:target => ".navbar-collapse", "ui-toggle-class" => "show"}
  /     %i.glyphicon.glyphicon-cog
  /   %button.pull-right.visible-xs{:target => ".app-aside", "ui-scroll" => "app", "ui-toggle-class" => "off-screen"}
  /     %i.glyphicon.glyphicon-align-justify
  /   / brand
  /   %a.navbar-brand.text-lt{:href => "#/"}
  /     %span.hidden-folded.m-l-xs
  /   / / brand
  .collapse.pos-rlt.navbar-collapse.bg-white-only
    %ul.nav.navbar-nav
      %li
        = link_to 'Back to Dashboard', admin_assets_path
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle.clear{"data-toggle" => "dropdown", :href => "#"}
          %span.thumb-sm.avatar.pull-right.m-t-n-sm.m-b-n-sm.m-l-sm
            = image_tag('a5.jpg')
            %i.on.md.b-white.bottom
          %span.hidden-sm.hidden-md
          = current_user.full_name
          %i.i.i-arrow-down5
        / dropdown
        %ul.dropdown-menu.animated.fadeInRight.w
          %li
            %a{:href => ""}
              %span.badge.bg-danger.pull-right 30%
              %span Settings
          %li
            %a{"ui-sref" => "app.page.profile"} Profile
          %li
            %a{"ui-sref" => "app.docs"}
              %span.label.bg-info.pull-right new
              Help
          %li.divider
          %li
            = link_to "Logout", logout_path