%head
  %title Hatch - Admin
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "admin.css"
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  - if Rails.env.production?
    %script{:src => "https://use.typekit.net/knx4hiw.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
  - elsif Rails.env.development?
    / for lvh.me, remove when pushing to git and heroku
    %script{:src => "//use.typekit.net/bgg6ayr.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

