%head
  %title Hatch - East Gate Client Portal
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  = favicon_link_tag 'favicon_2.png'
  - if Rails.env.production?
    %script{:src => "https://use.typekit.net/knx4hiw.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  - elsif Rails.env.development?
    / for lvh.me, remove when pushing to git and heroku
    %script{:src => "//use.typekit.net/bgg6ayr.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
