%header.navbar.navbar-fixed-top
	.container
		.navbar-header
			= link_to root_path do
				= image_tag('logo.png', class: "navbar-brand")
		%nav.navbar-collapse
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "Client Login", login_path

