.home-link
  %a{:href => "/"}
    %span.glyphicon.glyphicon-arrow-left
%header#top.bs-docs-nav.navbar.navbar-fixed-top.header-inverse
  .container
    .navbar-header
      %button.collapsed.navbar-toggle{"aria-controls" => "bs-navbar", "aria-expanded" => "false", "data-target" => "#bs-navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    %nav#bs-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to "Who We Are", "#who-we-are", data: {scroll: ""}
        %li
          =link_to "Core Values", "#core-values", data: {scroll: ""}
        %li
          =link_to "Our Capabilities", "#our-capabilities", data: {scroll: ""}
        %li
          =link_to "Executive Team", "#executive-team", data: {scroll: ""}
        %li
          =link_to "Contact Us", "#contact-us", data: {scroll: ""}, id: "contact-link"
