.heading
  %h4 Assets
  %p These are your properties under East Gate’s management
.assets
  - @assets.each do |asset|
    = link_to asset do
      .row
        .col-lg-12
          .property
            = image_tag(asset.asset_image.url(:thumb), class: 'img-responsive img-thumbnail')
            %p.property-name= asset.name
