.asset-page
  .row.text-center
    .col-lg-3
      .panel.padder-v.item
        .h1.text-info.font-thin.h1 50
        %span.text-muted.text-xs.uppercase.bold Items for Approval
        .top.text-right.w-full
          %i.fa.fa-caret-down.text-warning.m-r-sm
    .col-lg-3
      .panel.padder-v.item
        .h1.text-success.font-thin.h1 50
        %span.text-muted.text-xs.uppercase.bold Items Approved
        .top.text-right.w-full
          %i.fa.fa-caret-down.text-warning.m-r-sm
    .col-lg-6
      .r.bg-light.dker.item.hbox.b
        .col.dk.padder-v.r-r
          .text-info-dk.font-thin.h1
            / - unless @asset.budget.blank?
            /   %span= @asset.budget_amount
          %span.text-muted.text-xs.uppercase.bold Expenses to date, 60% of the budget
