.asset-page
  %h4= @asset.name
  %p= @asset.full_address
  .row
    .col-lg-6
      = image_tag('newyorker-main', class: 'img-responsive')
      .panel
        .panel-heading
          %h5 Property Overview
        .panel-body
          %p= @asset.summary