%html
  %body
    %p= "Hi #{@new_application.full_name},"
    %p
      Thank you for your interest in East Gate. Your application has been submitted and will
      be reviewed shortly. A representative of East Gate will contact you to provide you with next
      steps.
    %p - The East Gate Team
