@import "summernote";
@font-face{
    font-family:'avenirlt-roman';
    src:font-url('avenirlt-roman.eot');
    src:font-url('avenirlt-roman.eot?#iefix') format("embedded-opentype"),
        font-url('avenirlt-roman.woff') format("woff"),
        font-url('avenirlt-roman.ttf') format("truetype")
}
.note-editor.note-frame {
    border: 2px solid #DEE2E4;
}
.note-editor.panel-default .panel-heading {
  background-color: #fff;
  border-bottom: 2px solid #DEE2E4;
}
.admin {
  background: #f7f9fa;
  font-family: 'avenirlt-roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
  .navbar {
    border-bottom:none !important;
  }
  .app-content {
    margin: 0;
  }
  .navbar-collapse {
    /*margin-left:240px;*/
    border-bottom: 1px solid #c4d1dc;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  }
  .nav-sm-title {
    padding-left: 6px;
    text-transform:uppercase;
    font-weight:700;
    font-size:10px;
    color:#22252F;
  }
  .navi ul.nav li a {
    font-size: 12px;
    /*font-weight: 700;*/
    color: #6e7c91;
    padding: 3px 7px;
  }
}
.table > thead > tr > th {
  border-bottom: none;
}
.table > tbody > tr {
  background: #fff;
/*  border:1px solid #dde3e8;*/
}
.table > thead > tr > th {
  border-bottom: 2px solid #dde3e8;
}
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px;
  border-top: none;
  font-size: 13px;
  border-bottom:1px solid #dde3e8;
  &:first-child {
    width:270px;
    color: #333;
  }
}
.table {
  margin-bottom: 0px;
}
.table-wrap {
  background: #fff;
  .table-wrap-header {
    padding:10px;
  }
}
.breadcrumbs {
  font-weight: 700;
}
