.admin {
  background: #fff;
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  .navbar {
    border-bottom:none !important;
  }
  .navbar-collapse {
    margin-left:240px;
  }
  .navi ul.nav li a {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
  }
}
