.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "folder_#{folder.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Are you sure?
      .modal-body
        Once the listing is deleted, it's gone forever!
      .modal-footer
        %button.btn.btn-link{"data-dismiss" => "modal", :type => "button"} Close
        = link_to "Delete", listing, method: :delete, class: "btn btn-danger"
