!!!
%html
  = render 'layouts/eastgate/head'
  %body.subpage
    = render 'shared/flash'
    = render 'shared/eastgate/aboutheader'
    #bg_overlay
    .image-poster
      / .video-container
      /   %img{:class => "video_poster", :src => "/assets/nycbg.jpg"}
      %div
        .container
          = yield
        %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAgKGBnfVSn0jWq03ORE-aoEA95rUX6khI&callback=initMap"}
        %script
          smoothScroll.init();

