!!!
%html
  = render 'layouts/admin/head'
  %body.admin
    .app.app-header-fixed
      = render 'layouts/admin/header'
      = render 'shared/flash'
      #content.app-content{:role => "main"}
        .app-content-body
          = yield