!!!
%html
  = render 'layouts/eastgate/head'
  %body.homepage.careers
    = render 'shared/flash'
    = render 'shared/eastgate/header'
    #wrapper
      #page
        #content_container
          #content.center
            %h1 Careers at Thelius Capital
            =link_to "Current Openings", '#current_openings', class: "btn btn-info"
      %section.job-openings
        .container
          = yield
      .footer
        .row{style: 'padding: 100px 0; background: #f5f5f5;'}
          .col-sm-12
            .text-center.text-muted
              &copy; 2017 Thelius Capital Partners LLC
