!!!
%html
  = render 'layouts/eastgate/head'
  %body.homepage
    = render 'shared/flash'
    = render 'shared/eastgate/header'
    #bg_overlay
    .video-container
      %video{:autoplay => "", :loop => "", :preload => "auto", :id => "video-bg"}
        %source{:src => "https://s3.amazonaws.com/eastgate-file-hosting/videos/nyc-night.mp4", :type => "video/mp4"}
      %img{:class => "video_poster", :src => "/assets/nycbg.jpg"}
    #wrapper
      #page
        #content_container
          #content.center
            = yield
