!!!
%html
  = render 'layouts/eastgate/head'
  %body.homepage
    = render 'shared/flash'
    = render 'shared/eastgate/header'
    #bg_overlay
    .video-container
      %video{:autoplay => "", :loop => "", :preload => "auto", :id => "video-bg"}
        %source{:src => "http://www.theliuscapital.com/wp-content/uploads/2017/01/nyc-night.mp4", :type => "video/mp4"}
    #wrapper
      #page
        #content_container
          #content.center
            = yield
